
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }
/* phone*/
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background-color: #FAFAFA;
	padding-left: 0;
	
}

.obrazek{
	align-items: center;
	padding-left: 25%;
}

h1{
	text-align: center;
	font-weight: bold;
}
p{
	color: #8b8b8b;
}
.kontejner0, .kontejner1, .kontejner3{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 0;
	padding: 5px 10px 10px 20px;
	margin-bottom: 20px;
}

.menu li{
	display: block;
}

.menu ul{
	padding-left: 0;
}

.menu a{
	text-decoration: none;
	color: #FFFFFF;
	opacity: 1;
	width: 100px;
	height: 18px;
	font-size: 14px;
	
}

.tlacitko1{
	background-color: #407BFF;
	border-radius: 20px;
	opacity: 1;
	width: 75px;
	height: 40px;
	margin: 5px auto;
	padding: 0px 100px;
}

.tlacitko2{
	background-color: #8b8b8b;
	border-radius: 20px;
	opacity: 1;
	width: 75px;
	height: 40px;
	margin: 5px auto;
	padding: 2px 140px;
}

h2{
	font-size: 12px;
	text-align: center;
	margin: 5%;
}

.kontejner2,
.kontejner4{
	display: flex;
	flex-direction: column;
}

.info{
	display: flex;
	text-align: center;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	gap:10px;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 2px 0px #407BFF1F;

}

.popis{
	color:#8b8b8b;
	padding: 15px 10px;
}
/* tabletova verze*/
@media screen and (min-width: 640px) {
	.kontejner2,
	.kontejner4 {
		flex-direction: row;
		flex-basis: 33.33%;
		align-items: center;
		margin: 15px;
		justify-content: space-around;
		flex: 0 0 calc((100% - 25px) / 3);
		text-align: center;
	}
	.info{
		flex-direction: column;
		flex: 0 0 calc((100% - 20px) / 3)
	}
	.ikona{
		width: 25%;
		margin: 20px 38%;
	}
	
	.menu li{
		display: inline;
	}
	.tlacitko1,
	.tlacitko2{
		margin: 5px 15px 30px 100px;
		padding: 1.5%;
		align-items: center;

	}
}
/* deskop*/
@media screen and (min-width: 1100px){
	.first{
		display: flex;
		flex-direction: row-reverse;
		place-items: end center;
	}

	p{
		padding-left: 40px;
	}
	.tlacitko1,
	.tlacitko2
	{
		margin: 0px 20px;
	}
	
	.img{
		margin: 20px;
		padding: 0;
	}
	
	.kontejner0,
	.kontejner1,
	.kontejner3,
	.kontejner4{
		flex-grow: 1;
		place-items: end center;
		padding: 2%;
	}
	.kontejner2{
		order: -1;
		flex-grow: 1;
		place-items: end center;
		padding: 2%;
	}	

	.second{
		display: flex;
		flex-direction: row;
		flex: 0 0 calc((100% - 20px) / 3);
		padding-top: 5%;
		justify-content: space-evenly;
	
	}		

	.third{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}	

}


